*{
box-sizing: border-box;
margin: 0;
padding: 0; 
font-family: sans-serif; 
} 

:root{
    --space-m: 350px;
    --space-l: 400px; 
    --border: 2px dashed black;

}

/*header*/  
 
.main-header{
    background-color: lightskyblue; 
    width: 100%;
    min-height: 50px; 
    display: flex;
    align-items: center; 

}
.nav-bar{
    background-color: orange; 
    width: 70%;
    min-height: 20px;
    margin: 0 auto;
    display: flex; 
   
    
   
}
.side-bar{
    background-color: orange; 
    width: 30%; 
    min-height: 30px;
    border: var(--border);  
    padding: 3px;
   
    
    
   
}
 
.login {
    text-align: right;
}
.link{
    list-style-type: none; 
    align-items: center; 
    background-color: orange; 
    border: var(--border);
    width: 60%; 
    min-height: 30px; 
    
    
   
}

ul{
    list-style-type: none; 
    display: flex;
    justify-content: center; 
    padding-top: 3px;
} 

a{
    text-decoration: none;
    color: black;
}
 /*section part*/

 .section-header{
    height: var( --space-l); 
    background-color: blue; 
    display: flex;
    align-items: center;
 } 

 .info{
    height:var(--space-m); 
    width: 50%;
    margin: 0 auto;
    border: var(--border); 
    background-color: pink; 
    padding-top: 25px;
    
 }

 .container{
    width: 70%; 
    margin: 0 auto;
    display: flex;
    min-height: var( --space-l); 
    flex-direction: row-reverse;
    margin-top: 30px;
 } 

 .big-container{
    width: 70%; 
    height: var(--space-m);
    background-color: aqua;
    border: var(--border);
 } 

 .smal-container{
    width: 30%;
    min-height: var(--space-m);
    background-color: fuchsia;
    border: var(--border);
 } 

 .mid{
    flex-direction: row;
    
 } 

 .mid-section{
    margin: 25px 0;
 }
 .mid-container{
    background-color: lightslategray;
    
    
 }  
 /*green container*/

 .green-container{
    width: 100%;
    min-height: var( --space-l);
    background-color: greenyellow;
    border: var(--border);
 } 

footer{
    background-color: black;
} 

.bottom{
    background-color: black;
}
.bottom-nav{
    display: flex;
    width: 70%; 
    min-height: var( --space-l); 
    margin: 0 auto; 
    padding-top: 15px;
} 
 
.column-big{
    width: 30%;
    min-height: var(--space-m); 
    background-color: salmon;
    border: var(--border);
} 

.column-small{
    width: calc(70% / 4); 
    min-height: var(--space-m);
    background-color: aquamarine; 
    border: 2px dashed white;
} 
hr{
    color: white;
}  
/*footer part*/
footer{
    background-color: black; 
    padding-top: 15px;
} 
.end{
    width: 70%;
    min-height: 50px;
    margin: 0 auto;
    background-color: aqua; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    
} 
span{
    display: block;
     
    background-color: salmon;
    min-height: 20px;  
    border: var(--border);
    
}